{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}


<div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Tables</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Tables</li>
                        </ol>

                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Usuários Cadastrados
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">

                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Servico</th>
                                        </tr>
                                    </thead>

                                    <tfoot>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Servico</th>
                                        </tr>
                                    </tfoot>

                                    <tbody>
                                      {% for servico in servicos %}
                                        <tr>
                                            <td>{{servico.nome}}</td>
                                            <td>{{servico.descricao}}</td>
                                        </tr>
                                      {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </main>
</div>

{% endblock %}

