{% extends 'dashboard/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

    <div id="layoutSidenav_content">
      <main>
         <div class="container-fluid px-4">
              <h1 class="mt-4">Cadastrar Equipe</h1>
          <form method="post" novalidate>
            {% csrf_token %}
            {% for field in form.visible_fields %}
            <div class="form-group">
	            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
	            {{ field|add_class:'form-control' }}
	            {% for error in field.errors %}
	            <span class="help-block">{{ error }}</span>
	            {% endfor %}
            </div>
            {% endfor %}
            <div class="form-group">
                <button type="submit" class="btn btn-sucess">
                <span class ="glyphicon glyphicon-ok"></span>Cadastrar
                </button>
	            <a href="{% url 'core:pessoaslist' %}" class="btn btn-default">Cancelar</a>
            </div>
          </form>
         </div>
      </main>
    </div>

{% endblock %}



