{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

     <div class="container-fluid px-4">

                        <h1 class="mt-4">Equipe</h1>

                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Usuários Cadastrados
                            </div>

                            <div class="card-body">
                               <table class="table table-bordered">

                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Cargo</th>
                                            <th>CPF</th>
                                            <th>Email</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                      {% for pessoa in pessoaslist %}
                                        <tr>
                                            <td>{{pessoa.nome_pessoa}}</td>
                                            <td>{{pessoa.cargo}}</td>
                                            <td>{{pessoa.cpf}}</td>
                                            <td>{{pessoa.email}}</td>
                                            <td>
                                                    <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownmenubutton"
                                                        data-bs-toggle="dropdown" aria-expanded="false">
                                                                Ação
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownmenubutton">
                                                        <li>
                                                           <a href="{% url 'core:updatepessoa' pessoa.pk %}">Editar</a>
                                                        </li>
                                                    </ul>
                                             </td>
                                        </tr>
                                      {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>


{% endblock %}